<div class="suggestMain">
    {% extends "layout.html" %}
{% block body %}
  {% if g.user %}
      <h2>Logged In</h2>
      <a href="{{ url_for('login') }}">Return Home</a>
    <p>
      Hello {{ g.user.screen_name }}! Your overarching mood is {{ mood }} and your suggested Movie is:
    </p>

    {% if cachedMovie %}
    <h3>{{ cachedMovie[0] }}</h3>
    <p>
      Description: {{ cachedMovie[1] }}
    </p>
    {% endif %}

    {% if cachedShow %}
      <p>
      Your Suggested TV Show is:
    </p>
      <h3>{{ cachedShow[0] }}</h3>
     <p>
      Description: {{ cachedShow[1] }}
    </p>
    {%  endif %}

    {% if selected %}
    <h3>{{ selected[0]['title'] }}</h3>
    <p>
      Description: {{ selected[0]['short_description'] }}
    </p>
      <p>
      Your Suggested TV Show is:
    </p>
      <h3>{{ selected[1]['title'] }}</h3>
     <p>
      Description: {{ selected[1]['short_description'] }}
    </p>
    {%  endif %}
    </ul>
  {% else %}
    <p>
      Sign in to view your public timeline!
    </p>
    <p>
      <a href="{{ url_for('login') }}"><img style="display: block" src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
    <div class="pageFooter">
      <br>
      <b style="position: relative; text-align : center; left : 87px;"><p style="color : white">Watch Your Mood:</p></b>
      <b style="text-align: right"><p style="color : white">Jeff Donahue, Riccardo Falsini, Paula Hernandez, Mahesh Yarasi</p></b>
   </div>
{% endblock %}
</div>
