{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
      <h2>Logged In</h2>
    <p>
      Hello {{ g.user.screen_name }}!
    </p>

      <form method="POST" action="/searchUser">
          Search Tweets:<br>
          <input type="text" name="query">
          <input type="submit" value="Search"/>
      </form>

    {% if search %}
    <h3>Search Results:</h3>
    <ul>
    {% for result in search %}
      <li>id:{{result['id']}}<br>
          text:{{result['text']}}<br>
          date:{{result['created_at']}}</li>
        <br>
    {% endfor %}
    </ul>
    {% endif %}

    {% if tweets %}
    <h3>Your Timeline:</h3>
    <ul>
    {% for tweet in tweets %}
      <li><a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% else %}
    <p>
      Sign in to view your public timeline!
    </p>
    <p>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
{% endblock %}